/target
/helm/charts

# Generated secrets
/lab/gen/
/lab/secrets.yaml

# Generated config
/lab/controlplane.yaml

# VM
*.qcow2
*.iso
*.img
*.log

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
